# definitions - infra/env/env.ts

# required
DATABASE_URL="postgresql://postgres:docker@localhost:5432/mydb?schema=public"

# default 4000
PORT=

# development | test | homolog | production
# default development
NODE_ENV=


# defult '30days'
JWT_ACCESS_EXPIRES_IN=
# required
JWT_PRIVATE_KEY=private_key
# required
JWT_PUBLIC_KEY=public_key_by_private_by

# obs: as chaves jwt podem ser geradas com os arquivos
# src/infra/auth/keys-gen...
