# definitions - infra/env/env.ts

# required
DATABASE_URL="postgresql://postgres:docker@localhost:5432/mydb?schema=public"

# default 4000
PORT=

# development | test | homolog | production
# default development
NODE_ENV=
