# definitions - infra/env/env.ts

# required
PUBLIC_DIRECTORY="../public"

# required
DATABASE_URL="postgresql://postgres:docker@localhost:5432/mydb?schema=public"

# default 4000
PORT=

# development | test | homolog | production
# default development
NODE_ENV=

# required - https://console.cloud.google.com/apis/credentials/oauthclient/
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

# defult '30days'
JWT_ACCESS_EXPIRES_IN=
# required
JWT_PRIVATE_KEY=private_key
# required
JWT_PUBLIC_KEY=public_key_by_private_by

# obs: as chaves jwt podem ser geradas com os arquivos jwt-keys-gen

# STORAGE
# disk | cloudinary | s3
# default disk
STORAGE_DRIVER=
# required if STORAGE_DRIVER == s3
STORAGE_AWS_S3_BUCKET=
# default us-east-1
STORAGE_AWS_REGION=